black
h5py
hdf5plugin
ipykernel
ipython
jupyter-client
jupyter-core
mantid
mantidworkbench
matplotlib
nexus
nexusformat
numpy
nxs
pandas
pathspec
pip
pygments
pyparsing
python-dateutil
scipy
setuptools